@using QueryCraft.Entities

<div class="row g-2">
    <div class="col">
        <input type="text" class="form-control" placeholder="New Column Name" @bind="_newColumnName">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Expression" @bind="_expression">
    </div>
    <div class="col-2">
        <button class="w-100 btn btn-primary" @onclick="() => Operation.AddDerivedColumn(_expression, _newColumnName)">Add Column</button>
    </div>

    @if (!string.IsNullOrEmpty(_queryPreview))
    {
        <div class="col-12">
            <p class="small bg-dark text-light rounded my-2 p-4" style="font-family: monospace;">
                @_queryPreview
            </p>
        </div>
    }
</div>


@code {
    [Parameter]
    public DerivedColumnOperation Operation { get; set; }

    private string _expression = "";
    private string _newColumnName = "";
    private string _queryPreview = "";

    protected override bool ShouldRender()
    {
        _queryPreview = Operation.Query;
        return base.ShouldRender();
    }
}